body{

    margin: 0;
    padding: 0;
    height: 100vh;
    background: url('bg.jpg') no-repeat center;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 1.25rem;
}


.container{
    
    border-radius: 25px;
    padding: 20px;
    background: rgba(255, 254, 254, 0.336);
    backdrop-filter: blur(5px);
    color: #000;
    width: 50%;
}

form h1{

    letter-spacing: 5px;
}




